nav {
    width: 100%;
    padding: 0;
    list-style: none;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
}

img{
    margin: 0;
    position: absolute;
    top: 2%;
    left: 10%;
    float: left;
    width: 15%;
    height: 7%;

}
a{
    position: relative;
    right: -65%;
    padding: 16px;
    text-decoration: none;
    transition: all 0.1s;
    color: black;
}
a:hover{
    color: #80A1D4;
}

li, link, img{
    display: inline;
}

nav, li, link {
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
}


